@model BlogCRUD.Models.Post

<h2>Posts Details</h2>

<div>
    <h4>@Model.Title</h4>
    <p>@Model.Content</p>
    <p><strong>Data:</strong> @Model.DatePublished.ToString("dd/MM/yyyy")</p>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
<a asp-action="Index">Go back to list</a>
